// app global css in SCSS form
.top-safe-area {
  padding-top: env(safe-area-inset-top);
}

// Add pulse animation to the class main-logo
.main-logo {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
